* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #2a224f, #445c82, #666bba);
}

/* Main wrapper */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal center */
  justify-content: flex-start;
  padding-top: 60px;
  text-align: center;
}

/* Title */
.title {
  font-size: 42px;
  margin-bottom: 30px;
}

/* Form */
.form {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.form input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 220px;
}

.form button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #ff758c;
  color: white;
  cursor: pointer;
}

/* Grid */
.task-grid {
  width: 100%;
  max-width: 950px;      /* Important */
  margin: 0 auto;        /* Important */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.card {
  width: 280px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.card.done {
  background: rgb(149, 218, 117);
}

.status {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.btn-group {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.toggle {
  background: #4caf50;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.delete {
  background: #f44336;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.toggle:hover {
  background: #3e8e41;
  transform: scale(1.05);
  transition: 0.2s;
}

.delete:hover {
  background: #d32f2f;
  transform: scale(1.05);
  transition: 0.2s;
}

/* Responsive */
@media (max-width: 900px) {
  .task-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .task-grid {
    grid-template-columns: 1fr;
  }
}